In [ ]:
if 'spark' in locals() and isinstance(spark, SparkSession):
    print("Stopping existing SparkSession...")
    spark.stop()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Sales Dataset Exploration").getOrCreate()
spark

In [ ]:
#mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. DataFrame Creation and Inspection

In [105]:
# Load the CSV using Pandas, PySpark, and Dask.

# using spark
sales_df=spark.read.csv("/content/drive/MyDrive/Sales_Dataset.csv",header=True,inferSchema=True)

In [78]:
# Display the first 5 and last 5 records.
sales_df.show(5)
last_rows = sales_df.tail(5)
last_df = spark.createDataFrame(last_rows)
last_df.show()

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+
|OrderID|   CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|           City|PaymentMode|CustomerSince|
+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+
|   2930|   Jaime Harris|        Fashion| 680.0|2025-02-16|      Returned|     0.2|    Robertville|       Cash|   2021-01-28|
|   7980|     Dawn Wyatt|        Fashion|285.32|2024-04-26|     Cancelled|    0.06|     Cherylfurt|        UPI|   2021-04-14|
|   7770|  Kristin White|      Groceries|792.11|2024-08-10|      Returned|    0.07|       Kingport|        UPI|   2022-11-16|
|   6641|Jennifer Taylor|           Toys|578.49|2025-04-03|     Delivered|     0.1|Lake Jerryburgh|       Cash|   2020-11-04|
|   4513|    Rachel Owen|    Electronics|904.97|2024-09-21|     Delivered|    0.12|  East Paultown|       Cash|   2020-10-21|
+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+

In [79]:
# Print schema and check data types.
sales_df.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

2.Selection, Renaming, and Filtering

In [80]:
# Select only OrderID , CustomerName , and Amount .
sales_df.select("OrderID","CustomerName","Amount").show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

In [81]:
# Rename Amount to OrderAmount
sales_df=sales_df.withColumnRenamed("Amount","OrderAmount")
sales_df.show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [82]:
# Filter orders where Amount > 500.
sales_df.filter(sales_df.OrderAmount > 500).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys|      578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|     579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|     656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|     686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|     552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|     561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|     844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|     630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|     610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [83]:
# Filter orders from a specific city using .query() or .filter().
sales_df.filter(sales_df.City == "New Barry").show()

+-------+-------------+---------------+-----------+----------+--------------+--------+---------+-----------+-------------+
|OrderID| CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|     City|PaymentMode|CustomerSince|
+-------+-------------+---------------+-----------+----------+--------------+--------+---------+-----------+-------------+
|   8239|Jessica Smith|          Books|     610.08|2023-07-31|     Delivered|    0.09|New Barry|        UPI|   2021-12-27|
+-------+-------------+---------------+-----------+----------+--------------+--------+---------+-----------+-------------+

3. Data Manipulation

In [84]:
# Drop CustomerSince column.
sales_df = sales_df.drop("CustomerSince")
sales_df.show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
only showing top 20 rows

In [85]:
# Add a new column FinalAmount = Amount - (Amount * Discount).
sales_df = sales_df.withColumn("FinalAmount", sales_df.OrderAmount - (sales_df.OrderAmount * sales_df.Discount))
sales_df.show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+------------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|       FinalAmount|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+------------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|           665.584|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|            877.85|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|          651.3804|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|          515.8565|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash| 64.63210000000001|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|          267.8012|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|          108.2809|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|10.567499999999999|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|           679.029|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|           40.9422|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|           43.8425|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|268.35269999999997|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|          540.5654|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|183.87969999999999|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+------------------+
only showing top 20 rows

In [86]:
# Sort by FinalAmount descending.
sales_df = sales_df.sort("FinalAmount", ascending=False)
sales_df.show()

+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|          961.429|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|         949.5318|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|         923.9868|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|         923.6481|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|         913.2825|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|
|   5949|Dr. Michael Evans|           Toys|     918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|908.9585999999999|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|          905.076|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|           899.31|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|         885.6358|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|         878.4248|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|           877.85|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|         861.5136|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-----------------+
only showing top 20 rows

In [87]:
# Replace all “Cancelled” status with “Order Cancelled”.
from pyspark.sql.functions import regexp_replace
sales_df = sales_df.withColumn("DeliveryStatus",regexp_replace(sales_df.DeliveryStatus, "Cancelled", "Order Cancelled"))
sales_df.show()

+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|Order Cancelled|    0.02|      Sheilaville|       Cash|          961.429|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|Order Cancelled|    0.02|       Riverafort|       Cash|         949.5318|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|Order Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|       Returned|    0.01|      Cherylhaven|       Cash|         923.9868|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|Order Cancelled|    0.07|     New Seanstad|     Wallet|         923.6481|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|       Returned|    0.05|    Alexisborough|       Cash|         913.2825|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|       Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|
|   5949|Dr. Michael Evans|           Toys|     918.14|2023-07-29|        Pending|    0.01|   East Scottfort|     Wallet|908.9585999999999|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|       Returned|    0.07|       Alfredview|       Cash|          905.076|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|       Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|      Delivered|     0.0|       Marshburgh|Credit Card|           899.31|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|Order Cancelled|    0.04|        Smithside|       Cash|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|Order Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|        Pending|    0.02|       Susanburgh|       Cash|         885.6358|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|Order Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|Order Cancelled|    0.12|   New Susanville|        UPI|         878.4248|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|           877.85|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|Order Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|Order Cancelled|    0.04|        Port John|     Wallet|         861.5136|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+
only showing top 20 rows

4. Aggregations and GroupBy

In [88]:
# Count of orders by DeliveryStatus.
sales_df.groupBy("DeliveryStatus").count().show()

+---------------+-----+
| DeliveryStatus|count|
+---------------+-----+
|       Returned|  117|
|      Delivered|  119|
|Order Cancelled|  149|
|        Pending|  115|
+---------------+-----+

In [89]:
# Average Amount by ProductCategory.
from pyspark.sql.functions import avg
sales_df.groupBy("ProductCategory").agg(avg("OrderAmount").alias("Average Amount")).show()

+---------------+------------------+
|ProductCategory|    Average Amount|
+---------------+------------------+
|        Fashion|500.63082352941205|
|      Groceries|459.51786407767014|
|    Electronics| 551.7450000000002|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

In [90]:
# Group by City and show total sales.
from pyspark.sql.functions import sum,col
from pyspark.sql.types import DoubleType
sales_df.groupBy("City").agg(sum(col("OrderAmount").cast(DoubleType())).alias("Total Sales")).show()

+----------------+-----------+
|            City|Total Sales|
+----------------+-----------+
|     Ramseymouth|     761.06|
|East Edwardshire|     291.26|
|    Lake Douglas|     975.09|
|      Thomasberg|     882.68|
| South Colinstad|     786.27|
|     Laurenville|     383.26|
|        Seanbury|     814.39|
|      Gordonport|     514.99|
|  West Dawnmouth|       12.8|
|   Williamsmouth|      10.78|
|     Sheilaville|     981.05|
|       Mollybury|     222.02|
|       Perezfort|     917.55|
| Lake Jerrymouth|     404.01|
|       Lisaville|      45.69|
|     Port Willie|     788.13|
|  South Samantha|     229.46|
|Port Nicoleshire|     133.78|
|Lake Rebeccabury|     891.66|
|      Valdezberg|     424.96|
+----------------+-----------+
only showing top 20 rows

Null Handling & Update

In [91]:
# Intentionally inject nulls in City column and handle them using fillna(),dropna().
from pyspark.sql.functions import when,col

# Intentionally inserting null values
sales_df = sales_df.withColumn("City", when(col("City").startswith("New"), None).otherwise(col("City")))
sales_df.where(col("City").isNull()).show()

# Using fillna() to fill null values
sales_df=sales_df.fillna({"City": "Unknown"})
sales_df.where(col('City')=='Unknown').show()

#Again intentionally inserting null values
sales_df = sales_df.withColumn("City", when(col("City").startswith("East"), None).otherwise(col("City")))
sales_df.where(col("City").isNull()).show()

# Using dropna() to drop null values
sales_df = sales_df.dropna(subset=["City"])
sales_df.where(col("City").isNull()).show()

+-------+---------------+---------------+-----------+----------+---------------+--------+----+-----------+------------------+
|OrderID|   CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|City|PaymentMode|       FinalAmount|
+-------+---------------+---------------+-----------+----------+---------------+--------+----+-----------+------------------+
|   9806|  Samantha Gill|      Groceries|     993.17|2024-11-12|Order Cancelled|    0.07|NULL|     Wallet|          923.6481|
|   8253|Kevin Patterson|          Books|     998.21|2024-08-17|Order Cancelled|    0.12|NULL|        UPI|          878.4248|
|   7912|   Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|NULL|     Wallet|            877.85|
|   5496|  Eric Ferguson|        Fashion|      865.0|2024-06-27|Order Cancelled|    0.03|NULL|Credit Card|            839.05|
|   9185|    Carol Moore|    Electronics|     766.67|2025-01-23|        Pending|    0.04|NULL|       Cash|          736.0032|
|   8726|    Nancy Brown|          Books|     801.69|2023-09-18|Order Cancelled|    0.09|NULL|       Cash|          729.5379|
|   6912|    Jackie Lara|    Electronics|     917.73|2024-08-04|        Pending|    0.22|NULL|       Cash| 715.8294000000001|
|   5676|    Susan Davis|          Books|     662.05|2024-08-21|        Pending|     0.1|NULL|        UPI| 595.8449999999999|
|   1049| Laura Williams|           Toys|     598.71|2024-02-25|        Pending|    0.02|NULL|Credit Card|          586.7358|
|   8349|    Susan Smith|      Groceries|     737.59|2023-11-17|        Pending|    0.24|NULL|     Wallet|          560.5684|
|   8239|  Jessica Smith|          Books|     610.08|2023-07-31|      Delivered|    0.09|NULL|        UPI|          555.1728|
|   1025| Cynthia Butler|    Electronics|      536.8|2024-10-31|Order Cancelled|    0.05|NULL|        UPI|            509.96|
|   2494|    April Woods|        Fashion|     604.59|2023-09-14|        Pending|    0.25|NULL|Credit Card|          453.4425|
|   3258|   Jenny Tucker|      Groceries|     334.91|2024-07-24|      Delivered|    0.05|NULL|        UPI|318.16450000000003|
|   8508|Kristine Garcia|    Electronics|     382.59|2024-07-24|      Delivered|    0.22|NULL|     Wallet|298.42019999999997|
|   9524|   Larry Taylor|        Fashion|     333.73|2025-03-09|Order Cancelled|    0.22|NULL|Credit Card|          260.3094|
|   3194|   David Wilson|      Groceries|     333.92|2024-03-18|       Returned|    0.25|NULL|       Cash|            250.44|
|   8248|Angelica Garcia|          Books|      282.0|2025-01-07|        Pending|    0.16|NULL|Credit Card|            236.88|
|   6427| Veronica Silva|      Groceries|      285.3|2025-02-10|      Delivered|     0.3|NULL|        UPI|            199.71|
|   8989|   Dennis Young|           Toys|     169.91|2024-11-03|Order Cancelled|    0.02|NULL|Credit Card|          166.5118|
+-------+---------------+---------------+-----------+----------+---------------+--------+----+-----------+------------------+
only showing top 20 rows

+-------+---------------+---------------+-----------+----------+---------------+--------+-------+-----------+------------------+
|OrderID|   CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|   City|PaymentMode|       FinalAmount|
+-------+---------------+---------------+-----------+----------+---------------+--------+-------+-----------+------------------+
|   9806|  Samantha Gill|      Groceries|     993.17|2024-11-12|Order Cancelled|    0.07|Unknown|     Wallet|          923.6481|
|   8253|Kevin Patterson|          Books|     998.21|2024-08-17|Order Cancelled|    0.12|Unknown|        UPI|          878.4248|
|   7912|   Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|Unknown|     Wallet|            877.85|
|   5496|  Eric Ferguson|        Fashion|      865.0|2024-06-27|Order Cancelled|    0.03|Unknown|Credit Card|            839.05|
|   9185|    Carol Moore|    Electronics|     766.67|2025-01-23|        Pending|    0.04|Unknown|       Cash|          736.0032|
|   8726|    Nancy Brown|          Books|     801.69|2023-09-18|Order Cancelled|    0.09|Unknown|       Cash|          729.5379|
|   6912|    Jackie Lara|    Electronics|     917.73|2024-08-04|        Pending|    0.22|Unknown|       Cash| 715.8294000000001|
|   5676|    Susan Davis|          Books|     662.05|2024-08-21|        Pending|     0.1|Unknown|        UPI| 595.8449999999999|
|   1049| Laura Williams|           Toys|     598.71|2024-02-25|        Pending|    0.02|Unknown|Credit Card|          586.7358|
|   8349|    Susan Smith|      Groceries|     737.59|2023-11-17|        Pending|    0.24|Unknown|     Wallet|          560.5684|
|   8239|  Jessica Smith|          Books|     610.08|2023-07-31|      Delivered|    0.09|Unknown|        UPI|          555.1728|
|   1025| Cynthia Butler|    Electronics|      536.8|2024-10-31|Order Cancelled|    0.05|Unknown|        UPI|            509.96|
|   2494|    April Woods|        Fashion|     604.59|2023-09-14|        Pending|    0.25|Unknown|Credit Card|          453.4425|
|   3258|   Jenny Tucker|      Groceries|     334.91|2024-07-24|      Delivered|    0.05|Unknown|        UPI|318.16450000000003|
|   8508|Kristine Garcia|    Electronics|     382.59|2024-07-24|      Delivered|    0.22|Unknown|     Wallet|298.42019999999997|
|   9524|   Larry Taylor|        Fashion|     333.73|2025-03-09|Order Cancelled|    0.22|Unknown|Credit Card|          260.3094|
|   3194|   David Wilson|      Groceries|     333.92|2024-03-18|       Returned|    0.25|Unknown|       Cash|            250.44|
|   8248|Angelica Garcia|          Books|      282.0|2025-01-07|        Pending|    0.16|Unknown|Credit Card|            236.88|
|   6427| Veronica Silva|      Groceries|      285.3|2025-02-10|      Delivered|     0.3|Unknown|        UPI|            199.71|
|   8989|   Dennis Young|           Toys|     169.91|2024-11-03|Order Cancelled|    0.02|Unknown|Credit Card|          166.5118|
+-------+---------------+---------------+-----------+----------+---------------+--------+-------+-----------+------------------+
only showing top 20 rows

+-------+-----------------+---------------+-----------+----------+---------------+--------+----+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+-----------+----------+---------------+--------+----+-----------+-----------------+
|   5949|Dr. Michael Evans|           Toys|     918.14|2023-07-29|        Pending|    0.01|NULL|     Wallet|908.9585999999999|
|   4513|      Rachel Owen|    Electronics|     904.97|2024-09-21|      Delivered|    0.12|NULL|       Cash|         796.3736|
|   3703|    Jessica Brown|    Electronics|     833.82|2024-02-15|      Delivered|    0.09|NULL|Credit Card|         758.7762|
|   3339|        Megan Kim|        Fashion|     987.49|2023-09-09|Order Cancelled|    0.25|NULL|     Wallet|740.6175000000001|
|   1659| Tiffany Gonzalez|          Books|     741.43|2023-06-18|       Returned|    0.02|NULL|Credit Card|726.6013999999999|
|   5444|     Laura Wilson|          Books|     843.58|2024-11-06|       Returned|     0.2|NULL|       Cash|          674.864|
|   3852|   Katie Martinez|      Groceries|     665.03|2023-11-06|Order Cancelled|     0.0|NULL|     Wallet|           665.03|
|   2684|    Justin Baxter|          Books|     837.46|2024-09-27|Order Cancelled|    0.22|NULL|Credit Card|         653.2188|
|   3742|Patricia Ferguson|           Toys|      807.0|2024-10-01|      Delivered|    0.21|NULL|       Cash|           637.53|
|   7783|  James Payne Jr.|    Electronics|     644.12|2024-06-09|Order Cancelled|    0.04|NULL|        UPI|         618.3552|
|   2838|    Joshua Wagner|    Electronics|      699.7|2024-08-20|      Delivered|    0.15|NULL|       Cash|          594.745|
|   5186|    Bryan Jimenez|        Fashion|     741.05|2024-05-02|Order Cancelled|    0.22|NULL|        UPI|          578.019|
|   7253|   Jennifer Pitts|      Groceries|     603.39|2023-09-28|Order Cancelled|    0.08|NULL|Credit Card|         555.1188|
|   6420|    Michael Young|    Electronics|     762.34|2024-01-10|        Pending|    0.28|NULL|       Cash|         548.8848|
|   7643|    Kaylee Miller|      Groceries|     700.36|2024-11-03|       Returned|    0.23|NULL|     Wallet|         539.2772|
|   6302| Eileen Armstrong|        Fashion|     553.25|2025-03-30|      Delivered|    0.03|NULL|Credit Card|         536.6525|
|   7878| Anthony Shea DDS|          Books|     463.12|2023-08-14|       Returned|    0.02|NULL|        UPI|         453.8576|
|   7141|    David Jenkins|    Electronics|     485.99|2024-11-13|Order Cancelled|     0.1|NULL|Credit Card|          437.391|
|   4457|       Brad Allen|          Books|     419.23|2024-08-04|      Delivered|    0.03|NULL|       Cash|         406.6531|
|   9647|    Ricardo Young|           Toys|     471.74|2023-09-05|Order Cancelled|     0.2|NULL|       Cash|          377.392|
+-------+-----------------+---------------+-----------+----------+---------------+--------+----+-----------+-----------------+
only showing top 20 rows

+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+
|OrderID|CustomerName|ProductCategory|OrderAmount|OrderDate|DeliveryStatus|Discount|City|PaymentMode|FinalAmount|
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+
+-------+------------+---------------+-----------+---------+--------------+--------+----+-----------+-----------+

In [92]:
# Use .when().otherwise() in PySpark to tag high-value customers ( Amount >800 ).
from pyspark.sql.functions import when
sales_df = sales_df.withColumn("CustomerCategory", when(sales_df.OrderAmount > 800, "High-Value").otherwise("Low-Value"))
sales_df.show()

+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|CustomerCategory|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|Order Cancelled|    0.02|      Sheilaville|       Cash|          961.429|      High-Value|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|Order Cancelled|    0.02|       Riverafort|       Cash|         949.5318|      High-Value|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|Order Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|      High-Value|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|       Returned|    0.01|      Cherylhaven|       Cash|         923.9868|      High-Value|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|Order Cancelled|    0.07|          Unknown|     Wallet|         923.6481|      High-Value|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|       Returned|    0.05|    Alexisborough|       Cash|         913.2825|      High-Value|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|       Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|      High-Value|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|       Returned|    0.07|       Alfredview|       Cash|          905.076|      High-Value|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|       Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|      High-Value|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|      Delivered|     0.0|       Marshburgh|Credit Card|           899.31|      High-Value|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|Order Cancelled|    0.04|        Smithside|       Cash|         894.9216|      High-Value|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|      High-Value|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|Order Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|      High-Value|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|        Pending|    0.02|       Susanburgh|       Cash|         885.6358|      High-Value|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|Order Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|      High-Value|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|Order Cancelled|    0.12|          Unknown|        UPI|         878.4248|      High-Value|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|          Unknown|     Wallet|           877.85|      High-Value|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|Order Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|      High-Value|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|Order Cancelled|    0.04|        Port John|     Wallet|         861.5136|      High-Value|
|   9006|      Keith Flynn|    Electronics|     997.67|2023-11-21|        Pending|    0.14|      Antoniobury|       Cash|857.9961999999999|      High-Value|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+
only showing top 20 rows

6. Date & Time Functions

In [95]:
# Extract year and month from OrderDate .
sales_df = sales_df.withColumn("OrderDate", sales_df.OrderDate.cast("date"))
sales_df = sales_df.withColumn("Year", sales_df.OrderDate.substr(1, 4))
sales_df = sales_df.withColumn("Month", sales_df.OrderDate.substr(6, 2))
sales_df.show()

+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+----+-----+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|CustomerCategory|Year|Month|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+----+-----+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|Order Cancelled|    0.02|      Sheilaville|       Cash|          961.429|      High-Value|2025|   03|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|Order Cancelled|    0.02|       Riverafort|       Cash|         949.5318|      High-Value|2023|   11|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|Order Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|      High-Value|2024|   10|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|       Returned|    0.01|      Cherylhaven|       Cash|         923.9868|      High-Value|2025|   03|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|Order Cancelled|    0.07|          Unknown|     Wallet|         923.6481|      High-Value|2024|   11|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|       Returned|    0.05|    Alexisborough|       Cash|         913.2825|      High-Value|2025|   05|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|       Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|      High-Value|2024|   05|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|       Returned|    0.07|       Alfredview|       Cash|          905.076|      High-Value|2024|   09|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|       Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|      High-Value|2025|   05|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|      Delivered|     0.0|       Marshburgh|Credit Card|           899.31|      High-Value|2024|   11|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|Order Cancelled|    0.04|        Smithside|       Cash|         894.9216|      High-Value|2025|   02|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|      High-Value|2024|   10|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|Order Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|      High-Value|2024|   03|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|        Pending|    0.02|       Susanburgh|       Cash|         885.6358|      High-Value|2025|   02|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|Order Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|      High-Value|2024|   06|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|Order Cancelled|    0.12|          Unknown|        UPI|         878.4248|      High-Value|2024|   08|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|          Unknown|     Wallet|           877.85|      High-Value|2024|   09|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|Order Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|      High-Value|2025|   05|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|Order Cancelled|    0.04|        Port John|     Wallet|         861.5136|      High-Value|2025|   02|
|   9006|      Keith Flynn|    Electronics|     997.67|2023-11-21|        Pending|    0.14|      Antoniobury|       Cash|857.9961999999999|      High-Value|2023|   11|
+-------+-----------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-----------------+----------------+----+-----+
only showing top 20 rows

In [101]:
# Calculate customer loyalty in years = today - CustomerSince .
from pyspark.sql.functions import current_date, datediff,round
sales_df = sales_df.withColumn("CustomerSince", sales_df.CustomerSince.cast("date"))
sales_df = sales_df.withColumn("LoyaltyYears",round(datediff(current_date(), sales_df.CustomerSince) / 365,2))
sales_df.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|LoyaltyYears|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|        4.64|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|        3.22|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|        3.82|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|        4.82|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|        2.55|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|        3.39|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|         2.1|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|        4.07|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|        4.11|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|        3.96|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|        2.84|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|        2.47|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|        3.87|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|        2.85|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|        4.32|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|        3.46|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|        2.74|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|        2.07|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|        4.49|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|        2.32|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
only showing top 20 rows

7.Joins and Unions

In [106]:
# Create a second DataFrame with city-wise region mapping.
from pyspark.sql.functions import when, col
region_temp_df = sales_df.select("City").distinct().withColumn(
    "Region",
    when(col("City").startswith("North"), "North")
    .when(col("City").startswith("West"), "West")
    .when(col("City").startswith("East"), "East")
    .when(col("City").startswith("South"), "South")
    .otherwise("Unknown"))
region_temp_df.show()

+----------------+-------+
|            City| Region|
+----------------+-------+
|     Ramseymouth|Unknown|
|East Edwardshire|   East|
|      Thomasberg|Unknown|
|     Laurenville|Unknown|
| South Colinstad|  South|
|    Lake Douglas|Unknown|
|   Williamsmouth|Unknown|
|      Gordonport|Unknown|
|  West Dawnmouth|   West|
|        Seanbury|Unknown|
|     Sheilaville|Unknown|
|       Mollybury|Unknown|
|       Lisaville|Unknown|
| Lake Jerrymouth|Unknown|
|       Perezfort|Unknown|
|Port Nicoleshire|Unknown|
|  South Samantha|  South|
|     Port Willie|Unknown|
|     Waltersfort|Unknown|
|       Youngbury|Unknown|
+----------------+-------+
only showing top 20 rows

In [107]:
# Perform left join with the main dataset.
left_join_df = sales_df.join(region_temp_df, on="City", how="left")
left_join_df.show()

+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
|             City|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince| Region|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
|     Lake Joyside|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|Unknown|
|    New Jamesside|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|Unknown|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|Unknown|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|   West|
|        Mariastad|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|Unknown|
|  Port Jesseville|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|Unknown|
|      Lake Joseph|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|Unknown|
|         Grayside|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|Unknown|
|      Richardland|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|Unknown|
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20|Unknown|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|Unknown|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15|Unknown|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|Unknown|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|Unknown|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|   East|
|       Tracyville|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|Unknown|
|    Lake Toddland|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|Unknown|
|       Brandtside|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|Unknown|
|         Lammouth|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|        UPI|   2020-12-06|Unknown|
|       North Chad|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|  North|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
only showing top 20 rows

In [108]:
#Perform inner join with the main dataset.
inner_join_df = sales_df.join(region_temp_df, on="City", how="inner")
inner_join_df.show()

+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
|             City|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince| Region|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
|     Lake Joyside|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|Unknown|
|    New Jamesside|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|Unknown|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|Unknown|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|   West|
|        Mariastad|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|Unknown|
|  Port Jesseville|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|Unknown|
|      Lake Joseph|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|Unknown|
|         Grayside|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|Unknown|
|      Richardland|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|Unknown|
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20|Unknown|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|Unknown|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15|Unknown|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|Unknown|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|Unknown|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|   East|
|       Tracyville|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|Unknown|
|    Lake Toddland|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|Unknown|
|       Brandtside|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|Unknown|
|         Lammouth|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|        UPI|   2020-12-06|Unknown|
|       North Chad|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|  North|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+-------+
only showing top 20 rows

In [109]:
# Union two datasets: e.g., orders from 2023 and 2024.
from pyspark.sql.functions import year, to_date
sales_df = sales_df.withColumn("OrderDate", to_date("OrderDate"))
sales_2023 = sales_df.filter(year("OrderDate") == 2023)
sales_2024 = sales_df.filter(year("OrderDate") == 2024)
union_df = sales_2023.union(sales_2024)
union_df.show()

+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|    CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2169|  Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|     Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   2040|   Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6038|   David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|     John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   5061|  George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
|   1964|    Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   2612|Nicholas Mcbride|        Fashion|219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|
|   1828|  Kimberly Smith|           Toys| 89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|
|   4502|Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1958| Kimberly Adkins|    Electronics| 98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|
|   5905| Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   8239|   Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
|   9379|      Steven Lee|          Books|181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|
|   3851|Elizabeth Kelley|        Fashion|517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|
|   1757|   John Atkinson|          Books|724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31|
|   9486|   Justin Lowery|    Electronics|554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|
|   3607|     Karen Green|          Books|621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|
|   4919|  Billy Mitchell|    Electronics|653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|
|   3267| James Hernandez|          Books|593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

8. Complex JSON Simulation (Advanced)

In [110]:
# Convert each order to a JSON string and load it back into a DataFrame.
from pyspark.sql.functions import to_json, struct, from_json
from pyspark.sql.types import StructType, StructField, StringType, DoubleType

sales_json = sales_df.withColumn("json_order", to_json(struct("*")))
sales_json.select("json_order").show(truncate=False)

schema = sales_df.schema
sales_from_json = sales_json.select(from_json("json_order", schema).alias("data")).select("data.*")
sales_from_json.show()

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|json_order                                                                                                                                                                                                                                       |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"OrderID":2824,"CustomerName":"Donald Walker","ProductCategory":"Books","Amount":783.04,"OrderDate":"2024-12-26","DeliveryStatus":"Returned","Discount":0.15,"City":"Lake Joyside","PaymentMode":"Credit Card","CustomerSince":"2020-10-15"}    |
|{"OrderID":7912,"CustomerName":"Brandon Hall","ProductCategory":"Groceries","Amount":905.0,"OrderDate":"2024-09-12","DeliveryStatus":"Cancelled","Discount":0.03,"City":"New Jamesside","PaymentMode":"Wallet","CustomerSince":"2022-03-15"}     |
|{"OrderID":4611,"CustomerName":"Donald Booth","ProductCategory":"Fashion","Amount":657.96,"OrderDate":"2025-01-12","DeliveryStatus":"Returned","Discount":0.01,"City":"Lake Roberto","PaymentMode":"Wallet","CustomerSince":"2021-08-07"}        |
|{"OrderID":3547,"CustomerName":"Phillip Garcia","ProductCategory":"Fashion","Amount":606.89,"OrderDate":"2024-03-24","DeliveryStatus":"Returned","Discount":0.15,"City":"West Melanieview","PaymentMode":"Wallet","CustomerSince":"2020-08-08"}  |
|{"OrderID":8527,"CustomerName":"Valerie Gray","ProductCategory":"Toys","Amount":77.87,"OrderDate":"2024-08-04","DeliveryStatus":"Delivered","Discount":0.17,"City":"Mariastad","PaymentMode":"Cash","CustomerSince":"2022-11-15"}                |
|{"OrderID":4150,"CustomerName":"Amber Perez","ProductCategory":"Books","Amount":352.37,"OrderDate":"2024-01-13","DeliveryStatus":"Cancelled","Discount":0.24,"City":"Port Jesseville","PaymentMode":"Cash","CustomerSince":"2022-01-13"}         |
|{"OrderID":5554,"CustomerName":"Roy Martin","ProductCategory":"Toys","Amount":148.33,"OrderDate":"2024-03-04","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Lake Joseph","PaymentMode":"Cash","CustomerSince":"2023-04-29"}               |
|{"OrderID":2169,"CustomerName":"Carolyn Daniel","ProductCategory":"Electronics","Amount":14.09,"OrderDate":"2023-10-07","DeliveryStatus":"Delivered","Discount":0.25,"City":"Grayside","PaymentMode":"Credit Card","CustomerSince":"2021-05-09"} |
|{"OrderID":6313,"CustomerName":"Patty Perez","ProductCategory":"Groceries","Amount":79.83,"OrderDate":"2023-06-27","DeliveryStatus":"Cancelled","Discount":0.12,"City":"Richardland","PaymentMode":"Credit Card","CustomerSince":"2021-04-25"}   |
|{"OrderID":6155,"CustomerName":"Jonathan Wilkerson","ProductCategory":"Fashion","Amount":882.68,"OrderDate":"2024-10-14","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Thomasberg","PaymentMode":"Cash","CustomerSince":"2021-06-20"}     |
|{"OrderID":9830,"CustomerName":"Kevin Hurst","ProductCategory":"Books","Amount":870.55,"OrderDate":"2024-04-08","DeliveryStatus":"Delivered","Discount":0.22,"City":"Jeffreyberg","PaymentMode":"Wallet","CustomerSince":"2022-08-02"}           |
|{"OrderID":9085,"CustomerName":"Anthony Rodriguez","ProductCategory":"Groceries","Amount":921.73,"OrderDate":"2024-10-02","DeliveryStatus":"Cancelled","Discount":0.03,"City":"Port Erin","PaymentMode":"UPI","CustomerSince":"2022-12-15"}      |
|{"OrderID":2040,"CustomerName":"Kyle Mcdonald","ProductCategory":"Toys","Amount":327.52,"OrderDate":"2023-12-15","DeliveryStatus":"Returned","Discount":0.06,"City":"Lake Jenniferside","PaymentMode":"Wallet","CustomerSince":"2021-07-21"}     |
|{"OrderID":6573,"CustomerName":"Jeffrey Chavez","ProductCategory":"Books","Amount":676.02,"OrderDate":"2024-12-14","DeliveryStatus":"Cancelled","Discount":0.19,"City":"Teresaburgh","PaymentMode":"Wallet","CustomerSince":"2022-07-30"}        |
|{"OrderID":2743,"CustomerName":"Elizabeth Fowler","ProductCategory":"Electronics","Amount":47.06,"OrderDate":"2024-09-18","DeliveryStatus":"Delivered","Discount":0.13,"City":"East Nathaniel","PaymentMode":"Cash","CustomerSince":"2021-02-07"}|
|{"OrderID":9837,"CustomerName":"Tammy Sellers","ProductCategory":"Books","Amount":46.15,"OrderDate":"2024-09-10","DeliveryStatus":"Cancelled","Discount":0.05,"City":"Tracyville","PaymentMode":"UPI","CustomerSince":"2021-12-17"}              |
|{"OrderID":6038,"CustomerName":"David Bradley","ProductCategory":"Fashion","Amount":348.51,"OrderDate":"2023-08-03","DeliveryStatus":"Returned","Discount":0.23,"City":"Lake Toddland","PaymentMode":"UPI","CustomerSince":"2022-09-07"}         |
|{"OrderID":3060,"CustomerName":"John Pierce","ProductCategory":"Toys","Amount":362.09,"OrderDate":"2023-12-25","DeliveryStatus":"Returned","Discount":0.03,"City":"Brandtside","PaymentMode":"Cash","CustomerSince":"2023-05-09"}                |
|{"OrderID":4295,"CustomerName":"Jennifer Powers","ProductCategory":"Electronics","Amount":684.26,"OrderDate":"2024-03-19","DeliveryStatus":"Cancelled","Discount":0.21,"City":"Lammouth","PaymentMode":"UPI","CustomerSince":"2020-12-06"}       |
|{"OrderID":5061,"CustomerName":"George Chapman","ProductCategory":"Electronics","Amount":251.89,"OrderDate":"2023-11-28","DeliveryStatus":"Pending","Discount":0.27,"City":"North Chad","PaymentMode":"Cash","CustomerSince":"2023-02-07"}       |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [111]:
# Access nested fields using get_json_object and explode()
from pyspark.sql.functions import get_json_object
sales_json.select(get_json_object("json_order", "$.City").alias("CityFromJSON")).show()

+-----------------+
|     CityFromJSON|
+-----------------+
|     Lake Joyside|
|    New Jamesside|
|     Lake Roberto|
| West Melanieview|
|        Mariastad|
|  Port Jesseville|
|      Lake Joseph|
|         Grayside|
|      Richardland|
|       Thomasberg|
|      Jeffreyberg|
|        Port Erin|
|Lake Jenniferside|
|      Teresaburgh|
|   East Nathaniel|
|       Tracyville|
|    Lake Toddland|
|       Brandtside|
|         Lammouth|
|       North Chad|
+-----------------+
only showing top 20 rows

9. Applying Functions

In [112]:
# Create a function to tag orders: “Big”, “Medium”, “Small” based on Amount.
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def tag_order(amount):
    if amount >= 10000:
        return "Big"
    elif amount >= 5000:
        return "Medium"
    else:
        return "Small"
tag_order_udf = udf(tag_order, StringType())
sales_df = sales_df.withColumn("OrderTag", tag_order_udf(col("Amount")))
sales_df.select("Amount", "OrderTag").show()

+------+--------+
|Amount|OrderTag|
+------+--------+
|783.04|   Small|
| 905.0|   Small|
|657.96|   Small|
|606.89|   Small|
| 77.87|   Small|
|352.37|   Small|
|148.33|   Small|
| 14.09|   Small|
| 79.83|   Small|
|882.68|   Small|
|870.55|   Small|
|921.73|   Small|
|327.52|   Small|
|676.02|   Small|
| 47.06|   Small|
| 46.15|   Small|
|348.51|   Small|
|362.09|   Small|
|684.26|   Small|
|251.89|   Small|
+------+--------+
only showing top 20 rows

In [114]:
import pandas as pd
sales_df1=pd.read_csv("/content/drive/MyDrive/Sales_Dataset.csv")
def tag_order(amount):
    if amount >= 10000:
        return "Big"
    elif amount >= 5000:
        return "Medium"
    else:
        return "Small"
sales_df1["OrderTag"] = sales_df1["Amount"].apply(tag_order)
print(sales_df1[["Amount", "OrderTag"]])

     Amount OrderTag
0    783.04    Small
1    905.00    Small
2    657.96    Small
3    606.89    Small
4     77.87    Small
..      ...      ...
495  680.00    Small
496  285.32    Small
497  792.11    Small
498  578.49    Small
499  904.97    Small

[500 rows x 2 columns]