In [ ]:
!pip install pyspark==3.3.2 delta-spark==2.1.0

In [4]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip

# Build Spark session
builder = SparkSession.builder \
    .appName("DeltaLakeExample") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [5]:
df_cust = spark.read.option("header", True).option("inferSchema", True) \
    .csv("/content/customers.csv")

# Save as Delta format
df_cust.write.format("delta").mode("overwrite").save("/content/customers_delta")

# Load the Delta table
delta = spark.read.format("delta").load("/content/customers_delta")

# Show the data
delta.show()

+----------+-----+---------+---+
|CustomerID| Name|     City|Age|
+----------+-----+---------+---+
|       101|Aditi|   Mumbai| 28|
|       102|Rohan|    Delhi| 35|
|       103|Meena|Bangalore| 41|
|       104|Kabir|Hyderabad| 30|
|       105| Zoya|  Chennai| 25|
+----------+-----+---------+---+